@{
  Layout = "_Layout";
}

@model PierresBakery.Models.Treat

<h2>Are you sure you want to delete this treat?</h2>
<hr />
<h3>@Html.DisplayFor(model => model.Name)</h3>
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-danger"/>
}
<hr />
@Html.ActionLink("All Treats", "Index", new { }, new { @class = "btn btn-outline-primary"})