@{
  Layout = "_Layout";
}

@using System.Security.Claims
@if (User.Identity.IsAuthenticated)
{
    <h2>Welcome @User.Identity.Name!</h2>
    <hr />
    <p>Now that you're signed in, you can add all your favorite treats and flavors.</p>
    
    <br>
    @Html.ActionLink("Add Treat", "Create", "Treats", new { }, new { @class = "mx-1 btn btn-outline-primary"})

    @Html.ActionLink("Add Flavor", "Create", "Flavors", new { }, new { @class = "mx-1 btn btn-outline-primary"})

    @Html.ActionLink("Home", "Index", "Home", new { }, new { @class = "mx-1 btn btn-outline-primary"})


}
else
{
    <h2>Oops!</h2>
    <hr />
    <p>You are not signed in. See the buttons above to either register a new account or sign in with an existing account.</p>
}