@{
  Layout = "_Layout";
}
<h1 class="p-5 jumbotron">Pierre's Bakery Manager</h1>
<hr />
<div class="my-4">
  <p>A place to track your favorite treats and their many flavors!</p>
  <p>Register or sing in to create and view different treats. Flavors are available to view for everyone, with or without a personal account. However, you must be signed in to create new flavors or delete them.</p>

</div>

<hr />

@Html.ActionLink("View Treats", "Index", "Treats", new{}, new { @class = "btn btn-outline-primary" })
@Html.ActionLink("View Flavors", "Index", "Flavors", new{}, new { @class = "btn btn-outline-primary" })